@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar::-webkit-scrollbar {
  display: none;
}

@layer components {
  .button{
    @apply rounded-full bg-white hover:bg-gray-100 p-3
}

  .button_with_data_tip{
    @apply relative 
    before:z-10 
    before:absolute 
    before:left-1/2 
    before:top-5
    before:w-max 
    before:max-w-xs 
    before:-translate-x-1/2 
    before:translate-y-full 
    before:rounded-md
    before:bg-gray-800 
    before:opacity-75
    before:px-1.5 
    before:content-[attr(data-tip)]
    before:py-2
    before:text-white 
    before:text-lg
    before:invisible 
    hover:before:visible
  }
}